<div *ngIf="isLoading" class="loader-container">
  <div class="spinner-border text-primary" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>

<div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
  data-sidebar-position="fixed" data-header-position="fixed">
  <div
    class="position-relative overflow-hidden radial-gradient min-vh-100 d-flex align-items-center justify-content-center">
    <div class="d-flex align-items-center justify-content-center w-100">
      <div class="row justify-content-center w-100">
        <div class="col-md-8 col-lg-6 col-xxl-3">
          <div class="card mb-0">
            <div class="card-body">
              <a href="#" class="text-nowrap logo-img text-center d-block py-3 w-100">
                <img src="../../../assets/images/logos/Yes_Bank_SVG_Logo.svg.png" width="180" alt="">
              </a>
              <p class="text-center">Connecter ici !</p>
              <form (ngSubmit)="login()">
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label">Nom d'utilisateur</label>
                  <input type="text" class="form-control" id="exampleInputEmail1" [(ngModel)]="credentials.username" name="username" aria-describedby="emailHelp" required>
                </div>
                <div class="mb-4">
                  <label for="exampleInputPassword1" class="form-label">Mot de Passe</label>
                  <input type="password" class="form-control" id="exampleInputPassword1" [(ngModel)]="credentials.password" name="password" required>
                </div>
                <div class="d-flex align-items-center justify-content-between mb-4">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" [(ngModel)]="credentials.remember" id="flexCheckChecked" name="remember">
                    <label class="form-check-label text-dark" for="flexCheckChecked">
                      Sauvgarder votre compte ?
                    </label>
                  </div>
                  <!-- <a class="text-primary fw-bold" routerLink="/forgot-password">Forgot Password?</a> -->
                </div>
                <button type="submit" class="btn btn-primary w-100 py-8 fs-4 mb-4 rounded-2">Connecter</button>
                <div class="d-flex align-items-center justify-content-center">
                  <p class="fs-4 mb-0 fw-bold">Nouveau ?</p>
                  <a class="text-primary fw-bold ms-2" routerLink="/register">Créer votre compte</a>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>